---
import { cn } from "~/lib/utils"

interface Props extends Record<string, unknown> {
  class?: string
}

const { class: className, ...props } = Astro.props as Props
---

<a class={cn("font-medium underline underline-offset-4", className)} {...props}>
  <slot />
</a>
