---
import { cn } from "~/lib/utils"

interface Props extends Record<string, unknown> {
  class?: string
}

const { class: className, ...props } = Astro.props as Props
---

<h1
  class={cn("font-heading mt-2 scroll-m-28 text-3xl font-bold tracking-tight", className)}
  {...props}
>
  <slot />
</h1>
