---
import { cn } from "~/lib/utils"

interface Props extends Record<string, unknown> {
  class?: string
  id?: string
}

const { class: className, id, ...props } = Astro.props

const slotContent = Astro.slots.has("default") ? await Astro.slots.render("default") : ""
const generatedId = slotContent
  .replace(/<[^>]+>/g, "")
  .replace(/ /g, "-")
  .replace(/'/g, "")
  .replace(/\?/g, "")
  .toLowerCase()
const headingId = id || generatedId || undefined
---

<h2
  id={headingId}
  class={cn(
    "font-heading [&+]*:[code]:text-xl mt-10 scroll-m-28 text-xl font-medium tracking-tight first:mt-0 lg:mt-12 [&+.steps]:!mt-0 [&+.steps>h3]:!mt-4 [&+h3]:!mt-6 [&+p]:!mt-4",
    className
  )}
  {...props}
>
  <slot />
</h2>
