---
import { cn } from "~/lib/utils"

interface Props extends Record<string, unknown> {
  class?: string
}

const { class: className, ...props } = Astro.props as Props
---

<h3
  class={cn(
    "font-heading mt-12 scroll-m-28 text-lg font-medium tracking-tight [&+p]:!mt-4 *:[code]:text-xl",
    className
  )}
  {...props}
>
  <slot />
</h3>
