---
import { cn } from "~/lib/utils"

interface Props extends Record<string, unknown> {
  class?: string
}

const { class: className, ...props } = Astro.props as Props
---

<h4
  class={cn("font-heading mt-8 scroll-m-28 text-base font-medium tracking-tight", className)}
  {...props}
>
  <slot />
</h4>
