---
import { cn } from "~/lib/utils"

interface Props extends Record<string, unknown> {
  class?: string
}

const { class: className, ...props } = Astro.props as Props
---

<li class={cn("mt-2", className)} {...props}>
  <slot />
</li>
