---
import { cn } from "~/lib/utils"

interface Props extends Record<string, unknown> {
  class?: string
}

const { class: className, ...props } = Astro.props as Props
---

<p class={cn("leading-relaxed [&:not(:first-child)]:mt-6", className)} {...props}>
  <slot />
</p>
