---
import { cn } from "~/lib/utils"

interface Props extends Record<string, unknown> {
  class?: string
}

const { class: className, ...props } = Astro.props as Props
---

<div class="my-6 no-scrollbar w-full overflow-y-auto rounded-xl border">
  <table
    class={cn(
      "relative w-full overflow-hidden border-none text-sm [&_tbody_tr:last-child]:border-b-0",
      className
    )}
    {...props}
  >
    <slot />
  </table>
</div>
