---
import type { HTMLAttributes } from "astro/types"

import { cn } from "~/lib/utils"

type Props = HTMLAttributes<"div">

const { class: className, ...props } = Astro.props
---

<div
  data-slot="tabs-list"
  role="tablist"
  class={cn(
    "inline-flex h-9 w-fit items-center justify-start gap-4 rounded-none bg-transparent p-[3px] px-0 text-muted-foreground",
    className
  )}
  {...props}
>
  <slot />
</div>
